*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    font-size: 3rem;
    background-color: hsl(0, 0%, 90%);

  
}

.container{
    margin: 50px auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3.6rem;
    background-color: hsl(0, 0%, 70%);
    border-radius: 1rem;
  
}

.container h1{
    font-size: 3rem;
    color: hsl(0, 0%, 20%) ;
}

#numero{
    height: 5rem;
    padding-left: 2rem;
    color: black;
    font-size: 1.5rem;
    border-radius: 0.8rem;
    border: none;
    outline: none;
}

.radio-container{
    display: flex;
    justify-content: space-around;
    
}
.radio-container  label{
    cursor: pointer;
    padding: 0 0.8rem;
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    align-items: center;
    text-transform: lowercase;
    font-size: 2.5rem;

}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:  2rem;
    gap: 2rem;

}

#btn{
    border: none;
    padding: 1.5rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

#btn:hover{
    background-color: hsl(230, 64%, 54%);
    color: white;
}

output{
    display: block;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    min-height: 200px;

}

#titulo{
    font-weight: 600;
    color: red;
}

ul{
    list-style: none;
}
h1{
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: 500;
    margin-bottom: 2rem;
}
li{
    font-size: 2.0rem;
    font-family: monospace ;
    font-weight: 400;
    color: hsl(240, 100%, 55%);
}