*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    font-size: 3rem;
    background-color: hsl(0, 0%, 88%);

  
}

.container{
    margin: 50px auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3.6rem;
    background-color: hsl(0, 0%, 70%);
    border-radius: 1rem;
   background-color:  hsl(258, 52%, 40%);
    position: relative;
    box-shadow: 0 0 15px  hsla(258, 12%, 70%, 0.363);

}

.container::after{
    content: '';
    position: absolute;
    width: 325px;
    height: 1.4px;
    background-color: hsl(258, 52%, 54%);
    top: 81px;
    left: 50%;
    transform: translateX(-50%);

}

.container h1{
    font-size: 3rem;
    color: hsl(258, 52%, 85%) ;
    text-align: center;
    font-family: monospace;
    
}

#numero{
    height: 5rem;
    padding-left: 2rem;
    color: black;
    font-size: 1.9rem;
    border-radius: 0.8rem;
    border: none;
    font-family: Roboto;
    font-weight: bold;
    
}

#numero:focus{
    outline: auto orange;
}

.radio-container{
    display: flex;
    justify-content: space-around;
    
}
.radio-container  label{
    cursor: pointer;
    padding: 0 0.8rem;
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    align-items: center;
    text-transform: lowercase;
    font-size: 2.5rem;
    color: hsl(258, 52%, 95%) ;


}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:  2rem;
    gap: 2rem;

}

#btnCalc,#btnLimpar{
    border: none;
    padding: 1.5rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    color:  hsl(258, 52%, 30%);
    font-weight: 600;
    font-family: 'FIRA SANS';
    letter-spacing: 1.2px;
    width: 120px;
}

#btnCalc{
    background-color: hsl(24, 98%, 48%);
    color:  hsl(258, 100%, 100%);

}

#btnCalc:hover{
    color:  hsl(258, 52%, 85%);
    background-color:  hsl(258, 52%, 30%);
    
}

#btnLimpar:hover{
    background-color: hsl(24, 98%, 48%);

    color: white;
}

output{
    display: block;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    background-color: hsl(0, 0%, 89%);
    border-radius: 0.8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    min-height: 200px;

}

#titulo{
    font-weight: 600;
    color: red;
}

ul{
    list-style: none;
}
h1{
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: 500;
    margin-bottom: 2rem;
}
li{
    font-size: 2.0rem;
    font-family: monospace ;
    font-weight: 400;
    color: hsl(240, 100%, 55%);
}